/* Header */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
.header{
    font-family: 'Libre Caslon Text', serif;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url('../../images/FONDO.png');
    color: #18643B;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 10px solid #18643B;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    & h1 {
      font-size: 25px;
      text-transform: uppercase;
    }
    & img{
      margin-top: -25px;
      width: 340px;
    }
}
.avinkaHeader{
  margin-top: -15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & img{
    margin-top: 2px;
    width: 150px;
    height: 35px;
  }
  & h1 {
    font-size: 18px;
    text-transform: uppercase;
  }
}

  @media screen and (min-width: 1025px) {
    // padding: 24px;
 .header{
   &h1{
    font-size: 35px;
   }
   & img{
    margin-top: -23px;
    width: 280px;
  }
 }
 .avinkaHeader{
  & img{
    margin-top: 3px;
    width: 100px;
    height: 35px;
  }
  & h1 {
    font-size: 19px;
    text-transform: uppercase;
  }
}
}
  