@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Poppins&display=swap');
.winner {
    font-family: 'Poppins', sans-serif;

    background-image: url('../../images/Fondo-winner.png');
    width: 650px;
    min-height: 450px;
    height: min-content;
    border-radius: 15px;
    color:#18643B;
    font-size: 26px;
    padding: 20px;
    border: 10px solid #18643B;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    & h1{
      margin-left: 18px;
    }
}
.miniwinner{
  width: 300px;
}
.cupon{
  margin-top: 100px;
  width: 300px;
  margin-left: -600px;
}
a{
  text-decoration: none;
}
.restart-game{
  // width: 100%;
  font-family: 'Poppins', sans-serif;
  width: 250px;
  margin-top: 30px;
  margin-left: 440px;
  font-size: 24.5px;
  color: #ffffff;
  background-color: #18643B;
  border-radius: 10px;
  // display: flex;
  padding: 20px;
  // justify-content: flex-start;
  // align-items: center;
  // border: 2px solid #1d1d1d;
  cursor: pointer;
  
}